.PinkItems{
    display: flex;
    gap: 10px;
    align-items: center;

}

.PinkInfo{
    display: flex;
    flex-direction: column;
}

.PinkLogo{
    width: 60px;
    height: 60px;
}

.FirstInfo{
    font-size: 22px;
    font-weight: 300;
    color: #242424;
}

.SecInfo{
    font-size: 17px;
    font-weight: 100;
    color: #898989;
}

@media screen and (max-width: 500px) {

    .PinkItems{
        width: 70%;
    }
}
